html {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%
}

body {
    font-size: 16px;
    font-family: poppins-regular;
}

@font-face {
    font-family: poppins-bold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: poppins-medium;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppins-regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

* {
    box-sizing: border-box;
}


/*
DISEÑO DEL HEADER
*Logotipo
*Menu de opciones
*Tipo de usuario
*/

header {
    background: #2e353d;
}

#logo {
    display: inline-block;
    font-family: poppins-bold;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    font-size: 1.5em;
    padding: .5em 1.5em;
    margin: 0 4em 0 0;
    letter-spacing: 0.1em;
}

#user {
    text-align: center;
    color: #C8CEEB;
    font-size: .5em;
}

.main-nav {
    display: inline-block;
}

.main-menu {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-item {
    float: left;
    background: none;
    width: 130px;
}

.main-link {
    display: block;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    padding: .6em;
}

.main-link:hover:not(.active) {
    background: #0F4970;
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: .6em;
}

.active {
    background: #0F4970;
}

.icono {
    display: block;
    text-align: center;
    font-size: 2em;
    font-family: poppins-bold;
    color: rgba(235, 241, 243, 0.75);
}


/*
ZONA DE BUSQUEDA DE PRODUCTO
ENTRADAS
SALIDAS
MAYOREO
MODAL DETALLES Y DEVOLUCIONES
*/

#operaciones-venta {
    position: absolute;
    display: inline-block;
    width: 25%;
    color: #000;
}

#ventaDia {
    width: 100%;
    margin: 1em 0;
}

#input-folio {
    width: 100%;
    padding: .5em;
    margin: .2em 0 .2em 0;
    font-family: poppins-medium;
}

.detalles {
    width: 100%;
}

.btn-devolver {
    width: 100%;
}

.btn-nota {
    width: 100%;
}

.btn-grupo {
    width: 32%;
    margin-top: .8em;
}


/*
ZONA PRINCIPAL DE VENTA
FORMULARIO BUSQUEDA COD. BARRA
TABLA DE PRODUCTOS VENDIDOS
BOTON COBRAR
BOTON ULTIMO TICKET
INFORMACION TOTAL PRODUCTOS Y COSTO
*/

#principal {
    display: inline-block;
    width: 74%;
    min-height: 520px;
    font-size: 1em;
    font-family: poppins-regular;
    margin-left: 26%;
}

.agregar {
    padding: .8em;
    letter-spacing: .05em;
    font-family: poppins-medium;
}

#codigobarras {
    margin: 1em 0 1em 0;
}

#titulo-tabla {
    margin: .5em 0;
    font-family: poppins-medium;
}

#cobrar-venta {
    width: 100%;
    position: relative;
}

#btn-cobrar {
    width: 70%;
    font-size: 1em;
    font-family: poppins-medium;
    line-height: 2.5em;
    margin-top: .6em;
    margin-bottom: .6em;
}

#exampleModalLabel {
    text-align: center;
    text-transform: uppercase;
    font-family: poppins-regular;
}

#etiqueta-informacion {
    color: #000;
    font-size: 1.5em;
    padding: .2em;
}

.boton-cobrar {
    width: 90%;
    margin: .4em 0;
    padding: 1em 0;
}

.cantidad {
    font-size: 1.2em;
    font-family: poppins-medium;
}

#ticket {
    width: 25%;
    font-size: 1em;
    font-family: poppins-medium;
    line-height: 2.5em;
    margin-top: .6em;
    margin-bottom: .6em;
}

#venta-dia {
    width: 20%;
}

.venta {
    font-size: 1.6em;
    font-family: poppins-medium;
    display: inline-block;
    width: 55%;
    text-align: center;
}

.total {
    font-size: 1.6em;
    font-family: poppins-medium;
    display: inline-block;
    width: 35%;
    text-align: center;
}

#creditos {
    width: 100%;
    height: 90px;
    color: #FFF;
    background: #2e353d;
    text-align: center;
    margin-top: 1em;
}

#creditos #sistema {
    font-size: 1em;
    padding-top: .5em;
}

#creditos .fa {
    color: #FFF;
    font-size: 1.5em;
    padding-right: .5rem;
    margin: 0;
}
/*---------------------------------------------------------------*/

.gral {
    min-height: 520px;
    font-size: 1em;
    font-family: poppins-regular;
}

.title {
    font-family: poppins-medium;
    font-size: 1.2em;
}

.data-forms {
    width: 70%;
    margin: 0 auto;
}

#tabs {
    min-height: 510px;
}

.label-info {
    width: 20%;
    padding-top: .2em;
}

.input-info {
    width: 60%;
    padding: .2em;
    margin-bottom: .3em;
    display: block;
}